        html {
            scroll-behavior: smooth;
        }

        :root {
            --max-width: 1440px;
            --raleway-font: 'Raleway', sans-serif;
            --font-size-h1: 96px;
            --font-size-h2: 80px;
            --font-size-h3: 56px;
            --font-dish-info: 32px;
            --font-size-small: 24px;
            --min-margin: clamp(80px, 7vw, 160px);
            --default-font-color: #000000;
            --h2-font-color: #9F0908;
            --telephone-font-color: #a24d4d;
            --dish-font-color: #675E54;
            --footer-font-color: #0A141E;

            /* undefiniert */
            --margin-round-icons: 7px;
            --margin-right-flower-icon: 15px;
        }

        body {
            max-width: var(--max-width);
            /* Standard-Fonts */
            font-family: var(--raleway-font);
            font-weight: bold;
            font-size: var(--font-size-small);
            /* zentriert horizontal */
            margin: 0 auto;
            background: white;
        }

        .min-margin {
            margin-left: var(--min-margin);
            margin-right: var(--min-margin);
        }

        /* FONTS */

        h1 {
            font-size: var(--font-size-h1);
            margin: 0px;
        }

        h2 {
            font-size: var(--font-size-h2);
            color: var(--h2-font-color);
        }

        h3 {
            font-family: 'Economica', sans-serif;
            font-size: var(--font-size-h3);
            margin: 0px;
        }

        .font-normal {
            /* font-size: var(--font-size-small); */
            font-weight: normal;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            /* color: varh2(---font-color); */
        }

        .telefon:hover {
            text-decoration: none;
            /* color: var(--h2-font-color); */
        }

        /* FLEX BOXES */

        .flex-column-space {
            margin: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .flex-column-top {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .flex-row-space {
            /* margin: 0px; */
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .flex-row-center {
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* ICONS/IMAGES */

        .square-icons {
            aspect-ratio: 1 / 1;
        }

        .menue-icons {
            width: 352px;
        }

        .flower-icon-top {
            width: 64px;
        }

        .footer-icons {
            width: 40px;
        }

        .flower-icons {
            margin-right: var(--margin-right-flower-icon);
        }

        .round-icons {
            margin: var(--margin-round-icons);
        }

        .telefon-icon {
            width: 24px;
        }

        .order-icons {
            width: 128px;
        }

        .find-us-icon {
            object-fit: contain;
        }

        .cover-img {
            /* Vorgabe */
            /* height: 200vh; */
            background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);

            background-size: cover;
            background-position: center;
            /* Bild hält größe bei*/
            object-fit: cover;
            object-fit: contain;

        }

        .hero-img {
            height: 100vh;
            color: white;
            background-image: url(./img/1_hero/JPG/hero_bg.jpg);
        }

        .menue-img {
            background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
        }

        /* HEADER */

        .header {
            width: 100%;
            height: 112px;
            color: white;
        }

        .header-right {
            gap: 40px;
            margin: 10px;
        }

        .telefon-container {
            gap: 5px;

            /* Telefonfeld */
            border: 3px solid white;
            /* Weiße Linie mit 2px Stärke */
            border-radius: 12px;
            /* Runde Ecken */
            padding: 10px;
            /* border-style: groove; */
            background-color: var(--h2-font-color);
        }

        .telefon-container:hover {
            background-color: var(--telephone-font-color);
        }

        .title-container {
            margin-top: 200px;
            text-align: center;
        }

        /* ORDER/MENU */

        .order-main,
        .menue-main {
            padding: 120px 0px;
            text-align: center;
        }

        .order-box,
        .menue-box {
            /* margin: 0px 120px; */
            gap: 64px;
        }

        .order-main-text-icons-pairs {
            gap: 16px;
            width: 200px;
            height: 272px;
        }

        .order-inner-text-icons-pairs {
            margin: 0 20px;
            /* margin-left: 20px;
            margin-right: 20px; */
        }

        .order-text {
            text-align: center;
        }

        /* MENUE CSS*/

        .menue-main-dish-box {
            gap: 56px;
        }

        .menue-dish-boxes {
            display: flex;
            align-items: center;
            gap: 80px;
        }

        .menue-dish-box-left {
            justify-content: flex-start;
        }

        .menue-dish-box-right {
            justify-content: flex-end;
        }

        .menue-main-dish-text-box {
            gap: 16px;
            font-size: var(--font-dish-info);
        }

        .menue-text-box {
            gap: 8px;
            color: var(--dish-font-color);
        }

        /* TABLE */

        .menu-table {
            /* width: 500px; */
            /* Tabelle füllt Container */
            border-collapse: collapse;
            font: var(--font-dish-info);
            color: var(--dish-font-color);
        }

        .ingredient {
            text-align: left;
        }

        .price {
            text-align: right;
        }

        tr td:first-child {
            padding-right: 200px;
        }

        /* FIND US AT */

        .find-us-main {
            margin-top: 120px;
        }

        .find-us-address-box {
            display: flex;
            align-items: flex-end;
            margin-top: 8px;
            margin-bottom: 64px;
        }

        .google-maps {
            width: 100%;
            height: 50vh;
        }

        /* FOOTER */

        .footer {
            border-top: 16px solid white;
            height: 144px;
            color: white;
            background-color: rgb(0, 0, 0);
        }

        .footer-box {
            margin-top: 30px;
            width: 100%;
        }

        .footer-left {
            height: 44px;
        }


@media (max-width: 1028px) {
    .navbar-left {
        display: none;
    }

    .how-to-order-steps {
        flex-direction: column;
        gap: 80px;
    }

    .menue-dish-boxes {
        flex-direction: column;
        gap: 30px;
    }

    .menue-dish-box-right {
        flex-direction: column-reverse;
    }

    .menue-main-dish-box {
        gap: 100px;
    }
}