        html {
            scroll-behavior: smooth;
        }

        :root {
            /* --max-width: 1440px; */
            --raleway-font: 'Raleway', sans-serif;
            --font-size-h1: 96px;
            --font-size-h2: 80px;
            --font-size-h3: 56px;
            --font-dish-info: 32px;
            --font-size-small: 24px;
            --min-margin: 160px;
            --default-font-color: #000000;
            --h2-font-color: #9F0908;
            --telephone-font-color: #a24d4d;
            --dish-font-color: #675E54;
            --footer-font-color: #0A141E;

            --navbar-height: 112px;

            --section-padding: 120px;
            --title-spacing: 64px;

            --dish-boxes-gap: 56px;
            --dish-icon-text-gap: 80px;
            --dish-table-header-gap: 16px;

            /* undefiniert */
            --margin-round-icons: 7px;
            --margin-right-flower-icon: 15px;
        }

        @media (max-width: 1280px) {
            :root {
                --font-size-h1: 72px;
                --font-size-h2: 64px;
                --font-size-h3: 32px;
                --font-dish-info: 24px;
                --font-size-small: 20px;
                --min-margin: 24px;

                --section-padding: 96px;
                --title-spacing: 48px;

                --dish-boxes-gap: 32px;
                --dish-icon-text-gap: 24px;
                --dish-table-header-gap: 16px;
            }
        }

        @media (max-width: 767px) {
            :root {
                --font-size-h1: 44px;
                --font-size-h2: 40px;
                --font-size-h3: 32px;
                --font-dish-info: 24px;
                --font-size-small: 16px;
                --min-margin: 16px;

                --navbar-height: 64px;

                --section-padding: 72px;
                --title-spacing: 40px;

                --dish-boxes-gap: 32px;
                --dish-icon-text-gap: 16px;
                --dish-table-header-gap: 8px;
            }
        }


        body {
            /* max-width: var(--max-width); */
            /* Standard-Fonts */
            font-family: var(--raleway-font);
            font-weight: bold;
            font-size: var(--font-size-small);
            /* zentriert horizontal */
            margin: 0 auto;
            background: white;
        }

        .min-margin {
            margin-left: var(--min-margin);
            margin-right: var(--min-margin);
        }

        /* FONTS */

        h1 {
            font-size: var(--font-size-h1);
            margin: 0px;
        }

        h2 {
            font-size: var(--font-size-h2);
            color: var(--h2-font-color);
            text-align: center;
            margin: 0px;
        }

        h3 {
            font-family: 'Economica', sans-serif;
            font-size: var(--font-size-h3);
            margin: 0px;
        }

        .font-normal {
            /* font-size: var(--font-size-small); */
            font-weight: normal;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            /* color: varh2(---font-color); */
        }

        .telefon:hover {
            text-decoration: none;
            /* color: var(--h2-font-color); */
        }

        /* FLEX BOXES */

        .flex-column-space {
            margin: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .flex-column-center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .flex-row-space {
            /* margin: 0px; */
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .flex-row-center {
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* ICONS/IMAGES */

        .square-icons {
            aspect-ratio: 1 / 1;
        }

        .menue-dish-icons {
            width: 352px;
        }

        .flower-icon-top {
            width: 64px;
        }

        .flower-icon-bottom {
            width: 64px;
        }

        .flower-text-icon-bottom {
            height: 44px;
        }

        .footer-icons {
            width: 40px;
        }

        .flower-icons {
            margin-right: var(--margin-right-flower-icon);
        }

        .round-icons {
            margin: var(--margin-round-icons);
        }

        .telefon-icon {
            width: 24px;
        }

        .order-icons {
            width: 128px;
        }

        .find-us-icon {
            object-fit: contain;
        }

        .cover-img {
            /* Vorgabe */
            /* height: 200vh; */
            background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);

            background-size: cover;
            background-position: center;
            /* Bild hält größe bei*/
            object-fit: cover;
            object-fit: contain;

        }

        .hero-img {
            height: 100vh;
            color: white;
            background-image: url(./img/1_hero/JPG/hero_bg.jpg);
        }

        .menue-img {
            background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
        }

        @media (max-width: 1280px) {
            .order-icons {
                width: 112px;
            }
        }

        @media (max-width: 767px) {

            .flower-icon-top {
                width: 40px;
            }

            .footer-icons {
                width: 32px;
            }

            .menue-dish-icons {
                width: 343px;
            }
        }

        /* HEADER / NavBar */

        .navbar {
            width: 100%;
            height: var(--navbar-height);
            color: white;
        }

        .header-right {
            gap: 40px;
            margin: 10px;
        }

        .telefon-container {
            gap: 5px;

            /* Telefonfeld */
            border: 3px solid white;
            /* Weiße Linie mit 2px Stärke */
            border-radius: 12px;
            /* Runde Ecken */
            padding: 10px;
            /* border-style: groove; */
            background-color: var(--h2-font-color);
        }

        .telefon-container:hover {
            background-color: var(--telephone-font-color);
        }

        .title-container {
            margin-top: 102px;
            text-align: center;
        }

        /* ORDER/MENU */

        .order-main,
        .menue-main {
            padding: var(--section-padding) 0px;
            /* text-align: center; */
        }

        .order-box,
        .menue-box {
            gap: var(--title-spacing);
        }

        .order-main-text-icons-pairs {
            gap: 16px;
            width: 200px;
            height: 272px;
        }

        .order-text {
            text-align: center;
        }

        .how-to-order-steps {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }


        @media (max-width: 1280px) {
            .order-main-text-icons-pairs {
                gap: 8px;
                width: 150px;
                height: 204px;
            }
        }

        @media (max-width: 767px) {

            /* Klasse nur für kleine Bildschirme */
            .how-to-order-steps {
                flex-direction: column;
                gap: 32px;
            }
        }

        /* MENUE CSS*/

        .menue-main-dish-box {
            gap: var(--dish-boxes-gap);
        }

        .menue-dish-boxes {
            display: flex;
            align-items: center;
            gap: var(--dish-icon-text-gap);
        }

        .menue-dish-box-left {
            justify-content: flex-start;
        }

        .menue-dish-box-right {
            justify-content: flex-end;
        }

        .menue-main-dish-text-box {
            gap: var(--dish-table-header-gap);
            font-size: var(--font-dish-info);
        }

        /* TABLE */

        .menu-table {
            /* width: 500px; */
            /* Tabelle füllt Container */
            border-collapse: collapse;
            font: var(--font-dish-info);
            color: var(--dish-font-color);
        }

        .ingredient {
            text-align: left;
        }

        .price {
            text-align: right;
        }

        tr td:first-child {
            padding-right: 200px;
        }


        @media (max-width: 1280px) {
            tr td:first-child {
                padding-right: 150px;
            }
        }

        @media (max-width: 767px) {

            tr td:first-child {
                padding-right: 80px;
            }

            .menue-dish-boxes {
                flex-direction: column;
            }

            .menue-dish-box-right {
                flex-direction: column-reverse;
            }

        }

        /* FIND US AT */

        .google-maps {
            width: 100%;
            height: 50vh;
        }

        .find-us-box {
            padding-top: var(--section-padding);
            padding-bottom: var(--title-spacing);
            gap: 8px;
        }

        /* FOOTER */

        .footer {
            height: 144px;
            background-color: rgb(0, 0, 0);
            padding: 0px var(--min-margin);
        }

        .footer-logo {
            height: 44px;
        }

        @media (max-width: 1028px) {
            .navbar-left {
                display: none;
            }

            .footer {
                height: 86px;
            }
        }